Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on
RewriteBase /Evaluacion-U4/

# Rutas para páginas
RewriteRule ^home/?$ views/home.php [L]
RewriteRule ^products/?$ views/products/index.php [L]
RewriteRule ^users/?$ views/users/index.php [L]
RewriteRule ^customer/?$ views/customer/index.php [L]
RewriteRule ^coupons/?$ views/coupons/coupons.php [L]
RewriteRule ^orders/?$ views/orders/orders.php [L]

# Rutas para controladores
RewriteRule ^auth/?$ app/users/AuthController.php [L]
RewriteRule ^clients/?$ app/users/ClientsController.php [L]
RewriteRule ^users/?$ app/users/UsersController.php [L]
RewriteRule ^products/?$ app/products/ProductController.php [L]
RewriteRule ^categories/?$ app/products/CategoriesController.php [L]
RewriteRule ^presentation/?$ app/products/PresentationsController.php [L]
RewriteRule ^tags/?$ app/products/TagsController.php [L]
RewriteRule ^brands/?$ app/products/BrandsController.php [L]
RewriteRule ^catalogs/?$ app/sales/CatalogsController.php [L]
RewriteRule ^coupons/?$ app/sales/CouponsController.php [L]
RewriteRule ^orders/?$ app/sales/OrdersController.php [L]

# Registrar nuevo producto
RewriteRule ^products/add_product$ views/products/add_product.php [L]

# Modificar producto
RewriteRule ^products/edit_product$ views/products/edit_product.php [L]

# Ver lista de presentaciones
RewriteRule ^products/presentation$ views/products/presentation.php [L]

# Crear nueva presentación
RewriteRule ^products/add_presentation$ views/products/add_presentation.php [L]

# Modificar presentación
RewriteRule ^products/edit_presentation$ views/products/edit_presentation.php [L]

# Ver detalles de la presentación
RewriteRule ^products/([^/]+)$ views/products/details_presentation.php?id=$1 [L]

# Ver detalles del producto
RewriteRule ^products/([^/]+)$ views/products/details.php?id=$1 [L]

# Registrar nuevo usuario
RewriteRule ^users/add_users$ views/users/add_users.php [L]

# Modificar usuario
RewriteRule ^users/edit_users/([^/]+)/?$ views/users/edit_users.php?id=$1 [L]


# Ver detalles del usuario
RewriteRule ^users/([^/]+)$ views/users/details.php?id=$1 [L]

# Modificar clientes
RewriteRule ^customer/edit_customer/([^/]+)$ views/customer/edit_customer.php?id=$1 [L]


# Detalles clientes
RewriteRule ^customer/([^/]+)/?$ views/customer/details.php?id=$1 [L]

#Marcas
RewriteRule ^catalogs/brands/?$ views/catalogs/brands/brands.php [L]
RewriteRule ^catalogs/brands/details/([^/]+)/?$ views/catalogs/brands/details.php?id=$1 [L]

#Categorias
RewriteRule ^catalogs/categories/?$ views/catalogs/categories/categories.php [L]
RewriteRule ^catalogs/categories/details/([^/]+)/?$ views/catalogs/categories/details.php?id=$1 [L]

#Etiquetas
RewriteRule ^catalogs/tags/?$ views/catalogs/tags/tags.php [L]
RewriteRule ^catalogs/tags/details/([^/]+)/?$ views/catalogs/tags/details.php?id=$1 [L]

#Cupones
RewriteRule ^coupons/([^/]+)/?$ views/coupons/details.php?id=$1 [L]

#Ordenes
RewriteRule ^orders/([^/]+)/?$ views/orders/details.php?id=$1 [L]

